*{ 
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

html{
    font-family: Poppins, sans-serif;
    font-size: 16px;
}

.encabezado{
    
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-template-rows: 2f 1fr;
    align-items: center;
    margin-bottom: 0.3%;
    box-shadow: 50px 90px 300px black;
    background: rgb(2,0,36);
    background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(78,78,78,1) 80%);
    
       
}

.animaciones{
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-template-rows: 2f 1fr;
    margin-bottom: 0.3%;
    box-shadow: 50px 90px 300px black;
    background: rgb(2,0,36);
    background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(78,78,78,1) 80%);
 
    animation-name: barrido;
    animation-duration: 2s;
    

    
    
}

.logo {
    max-width: 40%;
    height: auto;
    padding-top: 2.5%;
    margin-bottom: 2.5%;
    
    
}

ul{
    li{
        &:hover{
        font-weight: bolder;
        transform: scale(1.3,1.3);
        }
        a{
        color: $color-primario !important;
        font-weight: bold;
        }   
    }
}


.contenedorCarrousel{
    margin: 0%;
    padding: 0%;
}

.tituloCarrouselTres, .tituloCarrouselDos{
    color: $color-secundario;
    font-weight: bolder;
    
}

.tituloCarrouselUno{
    
    font-weight: bolder;
    
}

.parrafoCarrouselUno, .parrafoCarrouselDos, .parrafoCarrouselTres{
    font-style: italic; 
    font-weight: bolder;

}

.contenidoPrincipal{
    background-color: $color-terciario;
}

.introduccion{
    display: flex;
    flex-direction: row-reverse;
}

.tituloYresena__tituloDePagina{
    margin-right: 3%;
    margin-left: 5%;
    display: flex;
    flex-direction: column;
    padding-top: 3.5%;
    padding-left: 5%;
   
}

.tituloYresena__tituloDePagina {
    color: $color-primario;
    font-size: 170%;
    font-weight: bolder;
    margin-bottom: 2%;
    text-align:left;
    text-transform:uppercase;
        
}

.tituloYresena__Resena{
    color: darkgrey;
    text-align: justify;
    font-size: 150%;
    padding-top: 3%;
    padding-left: 10%;
    padding-right: 14%;
    

}

.explicacion{
    display: flex;
    flex-direction: row;
}

.explicacion__videoConexion{
    height: 320px;
    width: auto;
    margin-left: 5%;
    margin-top: 3%;
 
}

.explicacion__ResenaDos{
    color: darkgrey;
    text-align: justify;
    font-size: 150%;
    padding-top: 8%;
    padding-right: 10%;
    padding-left: 4%;


}

.introduccion__videoMundo{
    height: 320px;
    width: auto;
    margin-right: 3%;
    margin-top: 3%;
 
}

.detalleServicios{
   color: $color-terciario; 
    
}

.TituloServicios{
    padding-top: 5%;
    color: $color-primario;
    text-align: center;
    font-weight: bolder;
    font-size: 300%;
}

.grilla {
  
  display: flex;
  justify-content: space-evenly;
  margin-top: 5%;

}


.tarjeta img{
    border-radius: 5%;
    max-width: 25rem;
    width: 100%;
    padding-top: 5%;
    
}

.tarjeta img:hover{
    transform: scale(1.1, 1.1);
    
}

.subtitulosServicios{
    font-size: 2.5rem;
    font-weight: 1000;
    color: $color-secundario;
    font-size: 150%;
    text-align: center;
}

.linkCotizacion {
    color: $color-primario;
    margin-left: 2%;
    font-family: Poppins, sans-serif;
    margin-top: 10%;
    
     
}

.linkCotizacion{
    display: flex;
}

.linkCotizacion__bajada{
    font-size: 180%;
    text-align: center;
    padding-bottom: 2%;
    margin: auto;
    color: $color-primario;
}

.linkCotizacion__enlace{
    color: $color-secundario;
    font-family: Poppins, sans-serif;
    font-size: 100%;
    text-decoration: none;
    font-style: italic;
    font-weight: bold;
    text-align: center;
    
}

.pieDePagina {
    display: grid;
    grid-template-columns: 4fr 4fr 4fr;
    grid-template-rows: 70px;
    align-items: center;
    background-color: $color-terciario;
    
}

.pieDePagina__logoAbreviado{
    width: 35%;
    margin-left: 15%;
   
}    

.pieDePagina__enlaceLogo{
    width: 100px;
    justify-self: self-start;
}

.pieDePagina__derechosReservados {
    color: #EAEAF8;
    font-size: 12px;
    font-style: italic;
    align-self: center;
    justify-self: center;
    
   }

.redesSociales{
    justify-self: self-end;

}

.pieDePagina__logoAbreviado:hover{
    animation: vibra 0.5s infinite;
}
