/* Estilos para tablet */

@media only screen and (max-width: 992px) and (min-width: 768px) {
    .introduccion{
    display: flex;
    flex-direction: column-reverse;
    }

    .explicacion{
    display: flex;
    flex-direction: column-reverse;
    }

    .introduccion__videoMundo{
    margin-top: 0%;
    padding-top: 0%;
    }

    .tituloYresena__tituloDePagina { 
    text-align: center;
    }

    .tituloYresena__Resena{
    color: darkgrey;
    margin-right: 7%;
    margin-bottom: 8%;
    }

    .explicacion__videoAterrizaje{
    height: 320px;
    width: auto;
    margin-left: 0%;
    padding-left: 0%; 
    }

    .explicacion__ResenaDos{
    color: darkgrey;
    margin-left: 4%;
    margin-right: 0%;
    }

    .grilla {
  
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 5%;

    }

    .subtitulosServiciosDos{
        padding-top: 10%;
    }

    .HombreAbasteciendo, .AvionVerde{
    width: 30%;
    height: auto;
    border-radius: 1%;
    }

    .TextoJetFuel, .TextoEmisiones {

    font-family: poppins, sans-serif;
    font-size: 130%;
    text-align: justify;
    align-items: center;
    }

    .TituloJetFuel, .TituloEmisiones{
    text-align: center;
    padding-top: 2%;
    padding-bottom: 2%;
    font-family: poppins, sans-serif;
    font-weight: bold;
    }


   

    .redesSociales {
        display: flex;
    }

    .seleccion{
    display: flex;
    flex-direction: column;
    
    }

    
}


/* Estilos para mini tablets */

@media only screen and (max-width: 767px) and (min-width: 321px) {
    .introduccion{
    display: flex;
    flex-direction: column-reverse;
    }

    .explicacion{
    display: flex;
    flex-direction: column-reverse;
    }

    .introduccion__videoMundo{
    margin-top: 0%;
    padding-top: 0%;
    }

    .tituloYresena__tituloDePagina { 
    text-align: center;
    }

    .tituloYresena__Resena{
    color: darkgrey;
    margin-right: 7%;
    margin-bottom: 8%;
    }

    .explicacion__videoAterrizaje{
    height: 320px;
    width: auto;
    margin-left: 0%;
    padding-left: 0%; 
    }

    .explicacion__ResenaDos{
    color: darkgrey;
    margin-left: 4%;
    margin-right: 0%;
    }

    .grilla {
  
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 5%;

    }

    .subtitulosServiciosDos{
        padding-top: 10%;
    }

    .contenidoImagenesUno{
    display: flex;
    flex-direction: column;
    align-items: center;
    
    }

    .contenidoImagenesDos{
    display: flex;
    flex-direction: column;
    align-items: center;
    
    }

    .iconoServicios{
    width: 100%;
    height: auto;
    
    }

    .subtituloContenido{
    font-size: 100%;
    margin: 0%;
    
    }

    .PreciosCompetitivos{
    padding-top: 0%;
    }

    .OpcionesDeCredito{
    padding-top: 0%;
    }

    

    .ContenidoImagenTexto, .ContenidoImagenTextoDos{
    display: flex;
    flex-direction: column;
    align-items: center;
    
    }


    .HombreAbasteciendo, .AvionVerde{
    width: 70%;
    height: auto;
    border-radius: 1%;
    }

    .TextoJetFuel, .TextoEmisiones {

    font-family: poppins, sans-serif;
    font-size: 90%;
    text-align: justify;
    align-items: center;
    }

    .TituloJetFuel, .TituloEmisiones{
    text-align: center;
    padding-top: 2%;
    padding-bottom: 2%;
    font-family: poppins, sans-serif;
    font-weight: bold;
    }

    .pieDePagina__derechosReservados {
        display: none;
    }

    .pieDePagina {
    display: grid;
    grid-template-columns: 4fr 4fr;
    grid-template-rows: 70px;
    align-items: center;
    }

    .seleccion{
    display: flex;
    flex-direction: column;
    
    }

    .contenidoNosotros{
    column-count: 1;
    column-gap: 7rem;
    margin-left: 5%;
    margin-right: 5%;

    }


    
}

/* Estilos para mobile */

@media only screen and (max-width: 320px) {
    .introduccion{
    display: flex;
    flex-direction: column-reverse;
    }
    
    .explicacion{
    display: flex;
    flex-direction: column-reverse;
    }
    
    .tituloYresena__tituloDePagina { 
    text-align: center;
    }
    
    .tituloYresena__Resena{
    color: darkgrey;
    margin-right: 7%;
    margin-bottom: 0%;
    }

    .explicacion__videoAterrizaje{
    height: 320px;
    width: auto;
    margin-left: 0%;
    padding-left: 0%; 
    }
    
    .explicacion__ResenaDos{
    color: darkgrey;
    margin-left: 4%;
    margin-right: 0%;
    }

    .grilla {
  
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 5%;

    }

    .subtitulosServiciosDos{
        padding-top: 10%;
    }

    .contenidoImagenesUno{
    display: flex;
    flex-direction: column;
    align-items: center;
    
    }

    .contenidoImagenesDos{
    display: flex;
    flex-direction: column;
    align-items: center;
    
    }

    .iconoServicios{
    width: 100%;
    height: auto;
    
    }

    .subtituloContenido{
    font-size: 100%;
    margin: 0%;
    
    }

    .PreciosCompetitivos{
    padding-top: 0%;
    }

    .OpcionesDeCredito{
    padding-top: 0%;
    }

    

    .ContenidoImagenTexto, .ContenidoImagenTextoDos{
    display: flex;
    flex-direction: column;
    align-items: center;
    
    }


    .HombreAbasteciendo, .AvionVerde{
    width: 70%;
    height: auto;
    border-radius: 1%;
    }

    .TextoJetFuel, .TextoEmisiones {

    font-family: poppins, sans-serif;
    font-size: 90%;
    text-align: justify;
    align-items: center;
    }

    .TituloJetFuel, .TituloEmisiones{
    text-align: center;
    padding-top: 2%;
    padding-bottom: 2%;
    font-family: poppins, sans-serif;
    font-weight: bold;
    }


    .pieDePagina__derechosReservados {
        display: none;
    }

    .pieDePagina {
    display: grid;
    grid-template-columns: 4fr 4fr;
    grid-template-rows: 70px;
    align-items: center;
    }

    .seleccion{
    display: flex;
    flex-direction: column;
    
    }


}