/* Estilos Servicios */

.contenedorServicios{
    
    margin: 0%;
    padding: 0%;
    text-align: center;
    

}

.imgTrenAterrizaje{
    width: 100%;
    height: auto;
}

.ServiciosPrincipal {
    background-color: $color-terciario;
}


.TituloImagenServicios {
    position: absolute;
    top: 40%;
    left: 1%;
    font-size: 380%;
    right: 100%;
    font-family: 'Montserrat', sans-serif;
    text-align: start;
    font-weight: bolder;
    color: whitesmoke;
}

.TituloPaginaServicios{
    margin-top: 5%;
    margin-bottom: 5%;
    text-align: left;
    padding-left: 5%;
    font-family: Montserrat, sans-serif;
    margin-left: 0%;
    color: $color-secundario;
    font-size: 400%;
}

.contenidoImagenesUno{
    display: flex;
    justify-content: space-evenly;
    margin-left: 5%;
}

.contenidoImagenesDos{
    @extend .contenidoImagenesUno;
    padding-top: 5%;
}

.iconoServicios{
    width: 50%;
    height: auto;
    
}

.subtituloContenido{
    padding-top: 15%;
    margin-left: -20%;
    font-family: $tipografia-primaria;
    color: $color-secundario;
}

.PreciosCompetitivos{
    padding-top: 10%;
}

.OpcionesDeCredito{
    padding-top: 13%;
}

.ContenidoServicios{
    color: $color-secundario;
}



.ContenidoImagenTexto{
    display: flex;
    margin-top: 10%;
    margin-left: 5%;
}

.HombreAbasteciendo, .AvionVerde{
    width: 30%;
    height: auto;
    border-radius: 1%;
}

.TextoJetFuel {
    margin-left: 5%;
    margin-right: 15%;
    font-family: poppins, sans-serif;
    font-size: 110%;
    text-align: justify;
}

.TituloJetFuel{
    margin-left: -5%;
    padding-bottom: 2%;
    font-family: poppins, sans-serif;
    font-weight: bold;
    color: $color-primario;
   
}

.ContenidoImagenTextoDos{
    display: flex;
    margin-top: 10%;
    margin-right: 10%;
    flex-direction: row-reverse;
    padding-bottom: 10%;
}

.TituloEmisiones{
    margin-left: 5%;
    padding-bottom: 2%;
    font-family: poppins, sans-serif;
    font-weight: bold;
    color: $color-primario;
}

.TextoEmisiones {
    margin-left: 7%;
    margin-right: 5%;
    font-family: poppins, sans-serif;
    font-size: 110%;
    text-align: justify;
}



