/* Estilos FAQs */

.principalFaqs{
    background-color: black;
    
}

.preguntasFrecuentes{
    color:whitesmoke;
    font-size: 130%;
    font-weight: bold;
    text-align: center;
    padding-top: 2%;
    font-family: poppins, sans-serif;

}

.preguntas{
    font-size: 100%;
    font-family: poppins, sans-serif;
    text-align: justify;
}

.respuesta{
    font-size: 100%;
    font-family: poppins, sans-serif;
    font-style: italic;
    text-align: justify;
    margin-left: 2.5%;
    margin-right: 2.5%;

}

.accordion-item{
    border-style: dashed;
    border-color: $color-primario;
    background-color: black;
    color: whitesmoke;
    
}

button{
    text-decoration: none;
    background-color: black;
}

.accordion-button{
    background-color: black;
    color: whitesmoke;
}

.botonAcordeon{
    background-color: black;
}

.accordion-button:focus{
    background: rgb(117,54,41);
    background: linear-gradient(90deg, rgba(117,54,41,1) 0%, rgba(219,96,37,1) 100%);
    color: whitesmoke;
}


.faqs{
    padding-bottom: 8%;
    margin-top: 2%;
    margin: center;
    padding-right: 10%;
    padding-left: 10%;
}